*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(https://drive.google.com/uc?export=view&id=1nEutzDG8bc8ZgtqHpEeaRSAa1tH2N3gu);
    background-color: hsl(0, 100%, 74%);
}
.full{
    display: flex;
    flex-wrap: wrap;
    padding-left: 10em;
    padding-right: 10em;
}
.content .learn{
    position: relative;
    float: left;
    margin: auto;
    align-items: center;
    justify-content: space-around;
}
.content .below{
    position: relative;
    float: right;
    margin-top: auto;
    justify-content: space-around;
}

.r_t{
    background-color: hsl(248, 32%, 49%);
    padding: 10px;
    text-align: center;
    width: 100%; 
    border-radius: 5px; 
    margin: auto;
    position: relative;
    float: right;
    justify-content: space-around;
    margin-top: 10px;
}
.r_below{
    background-color: white;
    /* margin-left: 5em;  */
    width: 100%;
    border-radius: 5px;
    margin-top: 1em;
    position: relative;
    float: right;
    justify-content: space-around;
    /* margin-top: 5px; */
    padding: 10px;
}
input{
    display: flex;
    text-align: left;
    width: 90%;
    padding: 10px; 
    border: 1px solid hsl(246, 25%, 77%);
    margin-bottom: 1em;
    margin-left: 1em;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: small;
}

h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: white;
    margin-bottom: 15px;
}
p{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: white;
    font-size: small;
}
@media screen and (max-width:375px) {
    .full{
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        padding-left: 0;
        padding-right: 0;
    }
    .input{
        margin: auto;
        margin-bottom: 1em;
    }
    .content{
        width: 80%;
        margin: auto;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    .content .below{
        display: flex;
    }
    .top_h{
        margin-top: -7em;
        margin-bottom: 5px;
        text-align: center;
    }
    .top_p{
        margin-top: -3em;
        text-align: center;
    }
    .r_t{
        margin-top: -5em;
        margin-left: -0.5em;
        width: 53%;
        padding-right: 5em;
        padding-left: 5em;
        text-align: center;
    }
    .r_below{
        margin-bottom: 2em;
    }
    .d_p{
        width: 75%;
        margin: auto;
    }
}